/* p-select{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
} */

p-dropdown-panel{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
p-dropdown-item{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

