<div class="container-fluid">
    <div class="container">
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm my-6 container">
            <nav aria-label="breadcrumb" class="py-4 px-3">
                <ol class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5">
                    <li class="inline-flex items-center gap-1.5">
                        <a class="transition-colors hover:text-foreground" href="/">ABCD</a>
                    </li>
                    <li role="presentation" aria-hidden="true" class="[&amp;>svg]:size-3.5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-slash">
              <path d="M22 2 2 22"></path>
            </svg>
                    </li>
                    <li class="inline-flex items-center gap-1.5">
                        <a class="transition-colors hover:text-foreground">Project - Incorporation (id: m5gr84i9)</a
            >
          </li>
        </ol>
      </nav>
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">
          Project - Incorporation Completion
        </h3>
        <p class="text-sm text-muted-foreground">
          The application form and documents are submitted to Companies
          Registry.
        </p>
      </div>
      <div class="p-6 pt-0">
        <div dir="ltr" data-orientation="horizontal">
          <div
            role="tablist"
            aria-orientation="horizontal"
            class="inline-flex h-10 items-center justify-center rounded-md bg-muted p-1 text-muted-foreground"
            tabindex="0"
            data-orientation="horizontal"
            style="outline: none"
          >
            <button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="radix-:r2a:-content-revise"
              data-state="inactive"
              id="radix-:r2a:-trigger-revise"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
              tabindex="-1"
              data-orientation="horizontal"
              data-radix-collection-item=""
            >
              Revise Details</button
            ><button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="radix-:r2a:-content-documents"
              data-state="inactive"
              id="radix-:r2a:-trigger-documents"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
              tabindex="-1"
              data-orientation="horizontal"
              data-radix-collection-item=""
            >
              Obtain Documents</button
            ><button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="radix-:r2a:-content-certificate"
              data-state="inactive"
              id="radix-:r2a:-trigger-certificate"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
              tabindex="-1"
              data-orientation="horizontal"
              data-radix-collection-item=""
            >
              Share Certificate</button
            ><button
              type="button"
              role="tab"
              aria-selected="true"
              aria-controls="radix-:r2a:-content-other"
              data-state="active"
              id="radix-:r2a:-trigger-other"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
              tabindex="0"
              data-orientation="horizontal"
              data-radix-collection-item=""
            >
              Published Documents
            </button>
          </div>
          <div
            data-state="inactive"
            data-orientation="horizontal"
            role="tabpanel"
            aria-labelledby="radix-:r2a:-trigger-revise"
            id="radix-:r2a:-content-revise"
            tabindex="0"
            class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            hidden=""
            style=""
          ></div>
          <div
            data-state="inactive"
            data-orientation="horizontal"
            role="tabpanel"
            aria-labelledby="radix-:r2a:-trigger-documents"
            id="radix-:r2a:-content-documents"
            tabindex="0"
            class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            hidden=""
          ></div>
          <div
            data-state="inactive"
            data-orientation="horizontal"
            role="tabpanel"
            aria-labelledby="radix-:r2a:-trigger-certificate"
            id="radix-:r2a:-content-certificate"
            tabindex="0"
            class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            hidden=""
          ></div>
          <div
            data-state="active"
            data-orientation="horizontal"
            role="tabpanel"
            aria-labelledby="radix-:r2a:-trigger-other"
            id="radix-:r2a:-content-other"
            tabindex="0"
            class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          >
            <div
              class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
              <nav aria-label="breadcrumb" class="py-4 px-3">
                <ol
                  class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5"
                >
                  <li class="inline-flex items-center gap-1.5">
                    <a class="transition-colors hover:text-foreground" href="#"
                      >ABCD</a
                    >
                  </li>
                  <li
                    role="presentation"
                    aria-hidden="true"
                    class="[&amp;>svg]:size-3.5"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="12"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-slash"
                    >
                      <path d="M22 2 2 22"></path>
                    </svg>
                  </li>
                  <li class="inline-flex items-center gap-1.5">
                    <a class="transition-colors hover:text-foreground"
                      >Project - Incorporation</a
                    >
                  </li>
                </ol>
              </nav>
              <div class="flex flex-col space-y-1.5 p-6">
                <h3 class="text-2xl font-semibold leading-none tracking-tight">
                  Published Documents
                </h3>
                <p class="text-sm text-muted-foreground">
                  Here are the other documents for publishing.
                </p>
              </div>
              <div class="p-6 pt-0">
                <div class="relative w-full overflow-auto">
                  <table class="w-full caption-bottom text-sm">
                    <thead class="[&amp;_tr]:border-b">
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <th
                          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Sr No.
                        </th>
                        <th
                          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Documents
                        </th>
                        <th
                          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Preview
                        </th>
                      </tr>
                    </thead>
                    <tbody class="[&amp;_tr:last-child]:border-0">
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          1
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          NNC1 Form (Signed)
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/NNC1.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          2
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Article of Association (A&amp;A)
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/AA.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          3
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Share Agreement
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/SA.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          4
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Minutes
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/MOM.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          5
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Certificate of Incorporate
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/MOM.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          6
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Business Registration Notice
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/MOM.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                      <tr
                        class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                      >
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          7
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          Receipt
                        </td>
                        <td
                          class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"
                        >
                          <a
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8"
                            href="/documents/MOM.pdf"
                            >Preview</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="flex p-6 pt-0 justify-end items-center">
                  <button
                    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white h-11 rounded-md px-8"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-mail"
                    >
                      <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                      <path
                        d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                      ></path></svg
                    >&nbsp;Send E-mail
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>