<app-header></app-header>
<div class="grid min-h-screen w-full md:grid-cols-[220px_1fr] lg:grid-cols-[250px_1fr]">
  <div class="hidden border-r bg-muted/40 md:block px-2 animate-in slide-in-from-left-72 delay-300 duration-700">
    <div class="flex h-full max-h-screen flex-col gap-2 fixed">
      <div class="flex h-14 items-center border-b px-4 lg:h-[60px] lg:px-6">
        <a class="flex items-center gap-2 font-semibold" href="/"><img alt="logo" loading="eager" width="24" height="24"
            src="assets/logos/logo.png" /><span class="">ComSec360 Admin</span></a>
      </div>
      <div class="flex-1">
        <nav class="grid items-start text-sm font-medium gap-4 mt-6">
          <a class="flex items-center gap-3 rounded-md px-4 py-3 hover:bg-secondary transition-all hover:text-primary animate-in slide-in-from-left duration-500 bg-muted text-primary"
            href="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-layout-grid size-4">
              <rect width="7" height="7" x="3" y="3" rx="1"></rect>
              <rect width="7" height="7" x="14" y="3" rx="1"></rect>
              <rect width="7" height="7" x="14" y="14" rx="1"></rect>
              <rect width="7" height="7" x="3" y="14" rx="1"></rect>
            </svg>
            Dashboard</a>
          <h1 class="text-[1.01rem] font-medium mt-4">Projects</h1>
          <div data-state="closed" class="ml-3">
            <button type="button" aria-controls="radix-:Rf6ja:" aria-expanded="false" data-state="closed"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex gap-3 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-scan-face size-4">
                <path d="M3 7V5a2 2 0 0 1 2-2h2"></path>
                <path d="M17 3h2a2 2 0 0 1 2 2v2"></path>
                <path d="M21 17v2a2 2 0 0 1-2 2h-2"></path>
                <path d="M7 21H5a2 2 0 0 1-2-2v-2"></path>
                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                <path d="M9 9h.01"></path>
                <path d="M15 9h.01"></path>
              </svg>
              <!-- -->Admin
            </button>
            <div data-state="closed" id="radix-:Rf6ja:" hidden="" class="CollapsibleContent" style=""></div>
          </div>
          <div data-state="closed" class="ml-3">
            <button type="button" aria-controls="radix-:Rn6ja:" aria-expanded="false" data-state="closed"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex gap-3 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-building2 size-4">
                <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"></path>
                <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path>
                <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path>
                <path d="M10 6h4"></path>
                <path d="M10 10h4"></path>
                <path d="M10 14h4"></path>
                <path d="M10 18h4"></path>
              </svg>
              <!-- -->Incorporation
            </button>
            <div data-state="closed" id="radix-:Rn6ja:" hidden="" class="CollapsibleContent" style=""></div>
          </div>
          <div data-state="closed" class="ml-3">
            <button type="button" aria-controls="radix-:Rv6ja:" aria-expanded="false" data-state="closed"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex gap-3 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-dollar-sign size-4">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
                <path d="M12 18V6"></path>
              </svg>
              <!-- -->Annual Return
            </button>
            <div data-state="closed" id="radix-:Rv6ja:" hidden="" class="CollapsibleContent" style=""></div>

            <!-- Red Sign Out Button -->
            <a href="#" (click)="logout()" class="block px-4 py-2 text-sm text-red-700 hover:bg-red-50">Sign out</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div>
    <section class="py-6 container space-y-6">
      <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-3">
        <div class="rounded-lg border bg-card text-card-foreground shadow transition-all hover:shadow-lg"
          x-chunk="dashboard-01-chunk-1">
          <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
            <h3 class="tracking-tight text-sm font-medium">
              Total Account Users
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-users h-4 w-4 text-muted-foreground">
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
          </div>
          <div class="p-6 pt-0">
            <div class="text-2xl font-bold">5</div>
            <p class="text-xs text-muted-foreground">
              Total Account Users Active
            </p>
          </div>
        </div>
        <div class="rounded-lg border bg-card text-card-foreground shadow transition-all hover:shadow-lg"
          x-chunk="dashboard-01-chunk-2">
          <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
            <h3 class="tracking-tight text-sm font-medium">Total Companies</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-building2 h-4 w-4 text-muted-foreground">
              <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"></path>
              <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path>
              <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path>
              <path d="M10 6h4"></path>
              <path d="M10 10h4"></path>
              <path d="M10 14h4"></path>
              <path d="M10 18h4"></path>
            </svg>
          </div>
          <div class="p-6 pt-0">
            <div class="text-2xl font-bold">5</div>
            <p class="text-xs text-muted-foreground">
              Total companies registered at ComSec360
            </p>
          </div>
        </div>
        <div class="rounded-lg border bg-card text-card-foreground shadow transition-all hover:shadow-lg"
          x-chunk="dashboard-01-chunk-3">
          <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
            <h3 class="tracking-tight text-sm font-medium">Total Projects</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-presentation h-4 w-4 text-muted-foreground">
              <path d="M2 3h20"></path>
              <path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3"></path>
              <path d="m7 21 5-5 5 5"></path>
            </svg>
          </div>
          <div class="p-6 pt-0">
            <div class="text-2xl font-bold">30</div>
            <p class="text-xs text-muted-foreground">
              Total Projects registered at ComSec360
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-start gap-6 md:flex-row flex-col-reverse">
        <div class="relative w-full overflow-auto">
          <table class="w-full caption-bottom text-sm">
            <caption class="mt-4 text-sm text-muted-foreground">
              A list of Invites Sent to New Account Users.
            </caption>
            <thead class="[&amp;_tr]:border-b">
              <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                  First Name
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                  Last Name
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                  Email
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                  Update
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                  Delete
                </th>
              </tr>
            </thead>
            <tbody class="[&amp;_tr:last-child]:border-0">
              <tr *ngFor="let user of invitedUsers"
                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">
                  {{ user.firstName }}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                  {{ user.lastName }}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                  {{ user.email }}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                  <button (click)="updateUser(user)"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-pencil">
                      <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"></path>
                      <path d="m15 5 4 4"></path>
                    </svg>
                  </button>
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                  <button (click)="deleteUser(user._id)"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-10 w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-trash">
                      <path d="M3 6h18"></path>
                      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                    </svg>
                  </button>
                </td>
              </tr>
              <tr *ngIf="invitedUsers.length === 0">
                <td colspan="5" class="p-4 text-center">No invited users found.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm max-w-7xl mx-auto">
          <div class="flex flex-col space-y-1.5 p-6">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">
              Invite an Account User
            </h3>
            <p class="text-sm text-muted-foreground">
              Fill in the information to invite Account User
            </p>
          </div>
          <div class="p-6 pt-0">
            <form [formGroup]="inviteUserForm" (ngSubmit)="onSubmit()" class="grid gap-4">
              <div class="grid grid-cols-2 gap-4">
                <div class="space-y-2">
                  <label class="text-sm font-medium leading-none">First Name</label>
                  <input formControlName="firstName"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background"
                    placeholder="James" aria-invalid="false" />
                </div>
                <div class="space-y-2">
                  <label class="text-sm font-medium leading-none">Last Name</label>
                  <input formControlName="lastName"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background"
                    placeholder="Bond" aria-invalid="false" />
                </div>
              </div>
              <div class="space-y-2">
                <label class="text-sm font-medium leading-none">E-mail</label>
                <input type="email" formControlName="email"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background"
                  placeholder="example@email.com" aria-invalid="false" />
              </div>
              <!-- <div class="space-y-2">
                <label class="text-sm font-medium leading-none">Password</label>
                <input type="password" formControlName="password"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background"
                  placeholder="XXXXXXX" aria-invalid="false" />
              </div> -->
              <button
                class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium bg-black text-white h-11 rounded-md px-8 w-full disabled:pointer-events-none disabled:opacity-50"
                type="submit" [disabled]="inviteUserForm.invalid || isLoading">
                <span *ngIf="isLoading" class="mr-2">
                  <svg class="animate-spin h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                  </svg>
                </span>
                {{ isLoading ? 'Processing...' : 'Create an Account User' }}
                <svg *ngIf="!isLoading" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-user-round ml-3 size-5 my-auto">
                  <circle cx="12" cy="8" r="5"></circle>
                  <path d="M20 21a8 8 0 0 0-16 0"></path>
                </svg>
              </button>

            </form>
          </div>
          <!-- Edit Email Modal -->
          <div *ngIf="isEditModalOpen"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
            <div class="rounded-lg border bg-card text-card-foreground shadow-sm max-w-md w-full mx-auto">
              <div class="flex flex-col space-y-1.5 p-6">
                <h3 class="text-2xl font-semibold leading-none tracking-tight">
                  Edit User Email
                </h3>
                <p class="text-sm text-muted-foreground">
                  Update the email address for this user
                </p>
              </div>
              <div class="p-6 pt-0">
                <form [formGroup]="editEmailForm" (ngSubmit)="onSubmitEditEmail()" class="grid gap-4">
                  <div class="grid grid-cols-2 gap-4">
                    <div class="space-y-2">
                      <label class="text-sm font-medium leading-none">First Name</label>
                      <input formControlName="firstName"
                        class="flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm !bg-opacity-100 focus:!bg-opacity-100"
                        style="background-color: white !important" aria-invalid="false" />
                    </div>
                    <div class="space-y-2">
                      <label class="text-sm font-medium leading-none">Last Name</label>
                      <input formControlName="lastName"
                        class="flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm !bg-opacity-100 focus:!bg-opacity-100"
                        style="background-color: white !important" aria-invalid="false" />
                    </div>
                  </div>
                  <div class="space-y-2">
                    <label class="text-sm font-medium leading-none">E-mail</label>
                    <input type="email" formControlName="email"
                      class="flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm !bg-opacity-100 focus:!bg-opacity-100"
                      style="background-color: white !important" placeholder="example@email.com" aria-invalid="false" />
                  </div>
                  <div class="flex justify-end space-x-4 mt-4">
                    <button type="button" (click)="closeEditModal()"
                      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium bg-gray-200 text-gray-800 h-11 rounded-md px-8">
                      Cancel
                    </button>
                    <button
                      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium bg-black text-white h-11 rounded-md px-8 disabled:pointer-events-none disabled:opacity-50"
                      type="submit"
                      [disabled]="editEmailForm.invalid || isLoading"
                    >
                      <span *ngIf="isLoading" class="mr-2">
                        <svg
                          class="animate-spin h-4 w-4 text-white"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <circle
                            class="opacity-25"
                            cx="12"
                            cy="12"
                            r="10"
                            stroke="currentColor"
                            stroke-width="4"
                          ></circle>
                          <path
                            class="opacity-75"
                            fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                          ></path>
                        </svg>
                      </span>
                      {{ isLoading ? 'Processing...' : 'Update User' }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>